<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldStart0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{0,0},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{214,0},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{428,0},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{642,0},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{0,218},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{214,218},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{428,218},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{642,218},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{0,436},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{214,436},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{428,436},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{642,436},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{0,654},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{214,654},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{428,654},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{642,654},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{0,872},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{214,872},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldStart0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,218}</string>
                <key>spriteSourceSize</key>
                <string>{214,218}</string>
                <key>textureRect</key>
                <string>{{428,872},{214,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goldStart.png</string>
            <key>size</key>
            <string>{856,1090}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1031b062c620cc5b68898ebbc73f682f:a6dbc5a5b70ffa42d8f446a753cbb677:e8e03e2315329b8f946efed7533af635$</string>
            <key>textureFileName</key>
            <string>goldStart.png</string>
        </dict>
    </dict>
</plist>
