<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,776}</string>
                <key>spriteSourceSize</key>
                <string>{776,776}</string>
                <key>textureRect</key>
                <string>{{0,0},{776,776}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,776}</string>
                <key>spriteSourceSize</key>
                <string>{776,776}</string>
                <key>textureRect</key>
                <string>{{776,0},{776,776}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,776}</string>
                <key>spriteSourceSize</key>
                <string>{776,776}</string>
                <key>textureRect</key>
                <string>{{0,776},{776,776}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{776,776}</string>
                <key>spriteSourceSize</key>
                <string>{776,776}</string>
                <key>textureRect</key>
                <string>{{776,776},{776,776}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopKeeper.png</string>
            <key>size</key>
            <string>{1552,1552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33e8d19b699ffc22c95e2879a86b669f:2ea9311ac2902eadc0252e5b4480d3f5:6b01c616ad5b7a2a2a33fd2f42d6372d$</string>
            <key>textureFileName</key>
            <string>shopKeeper.png</string>
        </dict>
    </dict>
</plist>
